
.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 32px;
    background-color: var(--pinkInvert);
    color: var(--pink);
    border-radius: 24px;
}

.buttonActive {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 32px;
    background-color: var(--pink);
    color: var(--pinkInvert);
    border-radius: 24px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 28px;
    height: 28px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.sliderActive {
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 28px;
    height: 28px;
    background-color: white;
    transform: translateX(32px);
    transition: .4s;
    border-radius: 50%;
}
