html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  width: 80%;
}

/*
Page container for each web page on the site.
 */
.page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.5rem;
  overflow-x: hidden;
  background-color: var(--black);
  color: var(--pinkLight);
}

/*
Link styles.
 */
a {
  text-decoration: none;
  color: var(--pinkDark);
}
a:hover {
  text-decoration: underline;
  color: var(--pinkInvert);
}
a:visited {
  text-decoration: none;
}

/*
Override default button styles
 */
button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/*
Colors used site wide go here!
 */
:root {
  --white: #ffffff;
  --gray: #c1c1c1;
  --black: #121212;

  --pink: #f98b88;
  --pinkLight: #fee4e4;
  --pinkDark: #f5443f;
  --pinkInvert: #067477;


  --rainbowRed: #ff0000;
  --rainbowOrange: #ff7f00;
  --rainbowYellow: #ffff00;
  --rainbowGreen: #00ff00;
  --rainbowBlue: #0000ff;
  --rainbowIndigo: #2e2b5f;
  --rainbowViolet: #8b00ff;
}
