html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
Colors used site wide go here!
 */
:root {
  --white: #ffffff;
  --gray: #c1c1c1;
  --black: #121212;

  --pink: #f98b88;
  --pinkLight: #fee4e4;
  --pinkDark: #f5443f;
  --pinkInvert: #067477;

}
